@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/*                  */
/* CARD FOR PROJECT */
/*                  */
.badge-lg {
    padding: 0.3em 1em;
    /* Adjust the padding to increase the size */
    font-size: 0.8em;
    /* Adjust the font size to increase the size */
}

.projects-card {
    position: relative;
    border: 1px solid #3f175f00;
    overflow: visible;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #380e5fbb,
        -10px -10px 30px #000000b2;
    transition: 0.2s ease-in-out;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: 1px solid var(--bs-info);
    background-color: var(--bs-info);
    color: var(--bs-light);
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.projects-card:hover {
    border-color: #883ac9;
    box-shadow: 10px 10px 20px #883ac9;
}

.projects-card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;

}