@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.gradient-text {
    background: -webkit-linear-gradient(left, var(--bs-primary) 40%, var(--bs-danger) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-projects {
    background: -webkit-linear-gradient(right, var(--bs-primary) 40%, var(--bs-danger) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#course-line {
    background: rgb(0, 0, 0);
    background: linear-gradient(86deg, rgba(29, 33, 51, 1) 1%, rgba(82, 17, 151) 15%, rgba(82, 130, 216, 1) 33%, rgba(33, 215, 137, 1) 55%, rgba(33, 215, 137, 1) 70%, rgba(107, 87, 255, 1) 80%, rgba(82, 17, 151) 90%, rgba(29, 33, 51, 1) 99%);
}

/*                  */
/* CARDS FOR SKiLLS */
/*                  */

.card-skill {
    background: var(--bs-success);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.card-skill:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-skill img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}

.card-1 {
    background-image: url(img/clean-code.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 120px;
}

.card-2 {
    background-image: url(img/tools1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 140px;
}

.card-3 {
    background-image: url(img/sketchbook.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}

.card-4 {
    background-image: url(img/001-networking.png);
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 90px;
}


/*                  */
/* CARD FOR PROJECT */
/*                  */
.badge-lg {
    padding: 0.3em 1em;
    /* Adjust the padding to increase the size */
    font-size: 0.8em;
    /* Adjust the font size to increase the size */
    background: var(--bs-info);
}



.projects-card {
    position: relative;
    border: 1px solid #3f175f00;
    overflow: visible;
    border-radius: 30px;
    box-shadow: 7px 7px 10px #7b0bd698,
        -10px -10px 15px #000000b6;
    /* box-shadow: 15px 15px 30px #380e5fbb,
        -10px -10px 30px #000000b2; */
    transition: 0.2s ease-in-out;
}

.projects-card.col-lg-5 {
    position: relative;
    border: 1px solid #3f175f00;
    overflow: visible;
    border-radius: 30px;
    box-shadow: 7px 7px 10px #0bd681a3,
        -10px -10px 15px #000000b6;
    /* box-shadow: 15px 15px 30px #380e5fbb,
        -10px -10px 30px #000000b2; */
    transition: 0.2s ease-in-out;
}

#projects .projects-card {
    background: #1D2133;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: 1px solid var(--bs-info);
    background-color: var(--bs-info);
    color: var(--bs-light);
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.projects-card.col-lg-5:hover {
    border-color: #21d789;
    box-shadow: 2px 2px 20px 5px #21d789;
}

.projects-card:hover {
    border-color: #7c21d7;
    box-shadow: 2px 2px 20px 5px #7c21d7;
}



.projects-card:hover .badge-lg {
    background-color: #7c21d7;
}

.projects-card.col-lg-5:hover .badge-lg {
    background-color: #21d789;
    color: black;
}

.projects-card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;

}