@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.lighter-bg {
    background: #1D2133;
}

.nav-item a:hover {
    color: var(--bs-warning) !important;
}

#footer a:hover {
    color: var(--bs-warning) !important;
}

.custom-active {
    color: var(--bs-warning) !important;
    /* Set the desired color */
    text-decoration: underline !important;
    /* Add underline */
    font-weight: bold !important;
    /* Make the font bold */
}


.h-underline {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -0.125rem;
        left: -0.5rem;
        right: -0.5rem;
        height: 0.75rem;

        z-index: 1;

        background-image: url('img/underline.svg');
        background-repeat: no-repeat;

        background-size: cover;
    }
}


#course-line {
    background: rgb(0, 0, 0);
    background: linear-gradient(86deg, rgba(29, 33, 51, 1) 1%, rgba(82, 17, 151) 15%, rgba(82, 130, 216, 1) 33%, rgba(33, 215, 137, 1) 55%, rgba(33, 215, 137, 1) 70%, rgba(107, 87, 255, 1) 80%, rgba(82, 17, 151) 90%, rgba(29, 33, 51, 1) 99%);
}

/*                  */
/* CARDS FOR SKiLLS */
/*                  */

.card-skill {
    background: var(--bs-success);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.card-skill:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-skill img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}

.card-1 {
    background-image: url(img/clean-code.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 120px;
}

.card-2 {
    background-image: url(img/tools1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 140px;
}

.card-3 {
    background-image: url(img/sketchbook.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}

.card-4 {
    background-image: url(img/001-networking.png);
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 90px;
}


/*                  */
/* CARD FOR PROJECT */
/*                  */
.badge-lg {
    padding: 0.3em 1em;
    /* Adjust the padding to increase the size */
    font-size: 0.8em;
    /* Adjust the font size to increase the size */
    background: var(--bs-info);
}



.projects-card {
    position: relative;
    border: 1px solid #3f175f00;
    overflow: visible;
    border-radius: 30px;
    box-shadow: 7px 7px 10px #7b0bd698,
        -10px -10px 15px #000000b6;
    /* box-shadow: 15px 15px 30px #380e5fbb,
        -10px -10px 30px #000000b2; */
    transition: 0.2s ease-in-out;
}

.projects-card.col-lg-5 {
    position: relative;
    border: 1px solid #3f175f00;
    overflow: visible;
    border-radius: 30px;
    box-shadow: 7px 7px 10px #0bd681a3,
        -10px -10px 15px #000000b6;
    /* box-shadow: 15px 15px 30px #380e5fbb,
        -10px -10px 30px #000000b2; */
    transition: 0.2s ease-in-out;
}

#projects .projects-card {
    background: #1D2133;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: 1px solid var(--bs-info);
    background-color: var(--bs-info);
    color: var(--bs-light);
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.projects-card.col-lg-5:hover {
    border-color: #21d789;
    box-shadow: 2px 2px 20px 5px #21d789;
}

.projects-card:hover {
    border-color: #7c21d7;
    box-shadow: 2px 2px 20px 5px #7c21d7;
}



.projects-card:hover .badge-lg {
    background-color: #7c21d7;
}

.projects-card.col-lg-5:hover .badge-lg {
    background-color: #21d789;
    color: black;
}

.projects-card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;

}

/*           */
/*           */
/* TIME LINE */
/*           */
/*           */
#timeline-section {
    margin-right: 10rem;
    /* padding-left: 10rem; */
}

.main-timeline {
    position: relative
}

/* Horizontal line */
.main-timeline:before {
    content: "";
    width: 5px;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
    background: var(--bs-success);
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    display: inline-block;
    margin-bottom: 50px;
    position: relative
}

/* DOT */
.main-timeline .timeline:before {
    content: "";
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 5px solid var(--bs-secondary);
    background: var(--bs-warning);
    position: absolute;
    top: 23.2%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%)
}

/* ICON WRAPPER*/
.main-timeline .timeline-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--bs-warning);
    padding: 13px;
    text-align: center;
    position: absolute;
    top: 23.2%;
    left: 30%;
    transform: translateY(-50%)
}

/* ICON */
.main-timeline .timeline-icon i {
    display: block;
    border-radius: 50%;
    background: var(--bs-warning);
    font-size: 45px;
    color: var(--bs-secondary);
    line-height: 70px;
    z-index: 1;
    position: relative
}

/* ICON LINES */
.main-timeline .timeline-icon:after,
.main-timeline .timeline-icon:before {
    content: "";
    width: 150px;
    height: 4px;
    background: var(--bs-warning);
    position: absolute;
    top: 50%;
    right: -150px;
    transform: translateY(-50%)
}

/* ICON BORDER BREAKER */
.main-timeline .timeline-icon:after {
    width: 70px;
    height: 50px;
    background: var(--bs-secondary);
    top: 75px;
    right: -30px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 0 50px;
    margin: 52px 0 0;
    float: right;
    position: relative
}

/* BORDERS AROUND DESCRIPTION */
.main-timeline .timeline-content:before {
    content: "";
    width: 70%;
    height: 100%;
    border: 3px solid var(--bs-warning);
    border-top: none;
    border-right: none;
    position: absolute;
    bottom: -13px;
    left: 35px
}

/* HORIZONTAL CONNECTOR */
.main-timeline .timeline-content:after {
    content: "";
    width: 37px;
    height: 4px;
    background: var(--bs-warning);
    position: absolute;
    top: 13px;
    left: 0
}



.main-timeline .description {
    display: inline-block;
    letter-spacing: 1px;
    margin: 0
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: 30%
}

.main-timeline .timeline:nth-child(even) .timeline-icon:before {
    right: auto;
    left: -150px
}

.main-timeline .timeline:nth-child(even) .timeline-icon:after {
    right: auto;
    left: -30px
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    float: left
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
    left: auto;
    right: 35px;
    transform: rotateY(180deg)
}

.main-timeline .timeline:nth-child(even) .timeline-content:after {
    left: auto;
    right: 0
}

.main-timeline .timeline:nth-child(2n) .timeline-content:after,
.main-timeline .timeline:nth-child(2n) .timeline-icon i,
.main-timeline .timeline:nth-child(2n) .timeline-icon:before,
.main-timeline .timeline:nth-child(2n):before {
    background: var(--bs-primary)
}

.main-timeline .timeline:nth-child(2n) .timeline-icon {
    border-color: var(--bs-primary)
}



.main-timeline .timeline:nth-child(2n) .timeline-content:before {
    border-left-color: var(--bs-primary);
    border-bottom-color: var(--bs-primary)
}

.main-timeline .timeline:nth-child(3n) .timeline-content:after,
.main-timeline .timeline:nth-child(3n) .timeline-icon i,
.main-timeline .timeline:nth-child(3n) .timeline-icon:before,
.main-timeline .timeline:nth-child(3n):before {
    background: var(--bs-danger)
}

.main-timeline .timeline:nth-child(3n) .timeline-icon {
    border-color: var(--bs-danger)
}

.main-timeline .timeline:nth-child(3n) .title {
    color: var(--bsdangery)
}

.main-timeline .timeline:nth-child(3n) .timeline-content:before {
    border-left-color: var(--bs-danger);
    border-bottom-color: var(--bs-danger)
}

@media only screen and (max-width:1600px) {
    .main-timeline .timeline-content {
        margin: 61px 0 0;
    }

    .main-timeline .timeline-icon:before {
        width: 120px;
        right: -120px
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon:before {
        right: auto;
        left: -120px
    }
}

@media only screen and (max-width:1200px) {
    .main-timeline .timeline-icon:before {
        width: 75px;
        right: -75px
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon:before {
        right: auto;
        left: -75px
    }

    .main-timeline .timeline-content {
        margin-top: 75px
    }
}


@media only screen and (max-width:990px) {
    #timeline-section {
        margin-right: 2rem;
    }

    .main-timeline {
        padding-top: 50px
    }

    .main-timeline:before {
        left: 80px;
        right: 0;
        margin: 0
    }

    .main-timeline .timeline {
        margin-bottom: 70px
    }

    .main-timeline .timeline:before {
        top: 0;
        left: 83px;
        right: 0;
        margin: 0
    }

    .main-timeline .timeline-icon {
        width: 60px;
        height: 60px;
        line-height: 40px;
        padding: 5px;
        top: 0;
        left: 0
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon {
        left: 0;
        right: auto
    }

    .main-timeline .timeline-icon:before,
    .main-timeline .timeline:nth-child(even) .timeline-icon:before {
        width: 25px;
        left: auto;
        right: -25px
    }

    .main-timeline .timeline-icon:after,
    .main-timeline .timeline:nth-child(even) .timeline-icon:after {
        width: 25px;
        height: 30px;
        top: 44px;
        left: auto;
        right: -5px
    }

    .main-timeline .timeline-icon i {
        font-size: 30px;
        line-height: 45px
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content {
        width: 100%;
        margin-top: -15px;
        padding-left: 130px;
        padding-right: 5px
    }

    .main-timeline .timeline:nth-child(even) .timeline-content {
        float: right
    }

    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        width: 50%;
        left: 120px
    }

    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        right: auto;
        transform: rotateY(0)
    }

    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:after {
        left: 85px
    }
}

@media only screen and (max-width:479px) {
    #hero {
        padding-top: 40px;
    }

    #timeline-section {
        margin-right: 1rem;
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding-left: 110px
    }

    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(2n) .timeline-content:before {
        left: 99px
    }

    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(2n) .timeline-content:after {
        left: 65px
    }
}

/* BUTTONS */
/* Regular button */
.btn-scale:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(0, 0, 0), 0 4px 8px rgb(0, 0, 0);
}

#profile-pic {
    transform: scale(1.05);
}


.fa-arrow-right {
    animation: arrow 1.5s infinite linear;
}

@keyframes arrow {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(.5rem);
    }
}

/* SOCIALS */



.social-btn {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.556);
    margin: 5px;
    transition: 0.3s;
}

.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
}

.social-btn:hover {
    width: 150px;
    border-radius: 5px;
}

.social-btn:hover span {
    padding: 2px;
    width: 90px;
}


/* Show timeline */
.show-timeline {
    text-decoration: none;
    position: relative;
    border: none;
    font-weight: 600;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, var(--bs-success), var(--bs-info), var(--bs-warning), var(--bs-success));
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
}

.show-timeline:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.show-timeline:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, var(--bs-success), var(--bs-info), var(--bs-warning), var(--bs-success));
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

.show-timeline:hover::before {
    filter: blur(20px);
}

.show-timeline:active {
    background: linear-gradient(32deg, var(--bs-success), var(--bs-info), var(--bs-warning), var(--bs-success));
}


/* Mail and download button*/
.cta {
    border: none;
    width: 9rem;
    border-radius: 25px;
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 9px 4px;
    transition: all 0.2s ease;
    background: none;

}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    display: block;
    border-radius: 40px;
    background: var(--bs-primary);
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    z-index: -1;
}

.cta span {
    position: relative;
    letter-spacing: 0.05em;
    color: var(--bs-primary);
    transition: all 0.3s ease-in-out;
    margin-right: .5rem;
}

.cta .mail {
    margin-right: 1rem;
    color: var(--bs-secondary);
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.cta .download {
    margin: 7px 5px;
    padding: 3px 1px;
    margin-right: 1rem;
    color: var(--bs-secondary);
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.cta:hover:before {
    width: 100%;
    border: none;
    background: var(--bs-primary);
}

.cta:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.cta:hover .mail {
    color: var(--bs-secondary);
    transform: translateX(3.5rem) rotate(45deg) scale(1.1);
}

.cta:hover .download {
    color: var(--bs-secondary);
    transform: translateX(3.5rem) scale(1.1);
}

.cta:hover span {
    transform: translateX(15em);
}

.cta:active {
    transform: scale(0.95);
}


@keyframes fly-1 {
    from {
        transform: translateY(0.15em);
    }

    to {
        transform: translateY(-0.15em);
    }
}

/*            */
/*            */
/* ANIMATIONS */
/*            */
/*            */

.pulsate-bck {
    -webkit-animation: pulsate-bck 0.5s ease-in-out 15s 5 both;
    animation: pulsate-bck 0.5s ease-in-out 15s 5 both;
}

@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1.);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */


.puff-in-center {
    --delay: 0s;
    /* Default delay value */
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) var(--delay) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) var(--delay) both;
}


@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}