/* DOWNLOAD BUTTON */

.button-dwn {
    --width: 120px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: var(--bs-primary);
    --tooltip-color: var(--bs-secondary);
    width: var(--width);
    height: var(--height);
    position: relative;
    text-align: center;
    border: .1rem solid var(--bs-primary);
    background-color: var(--bs-primary);
    border-radius: 0.45em;
    font-family: inherit;
    transition: background 0.3s;
}

.button-dwn::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: var(--bs-primary);
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}

.button-dwn::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button-dwn::after,
.button-dwn::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.text-dwn-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-dwn-wrapper,
.text-dwn-btn,
.icon-dwn-btn {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: var(--bs-secondary);
}

.text-dwn-btn {
    top: 0
}

.text-dwn-btn,
.icon-dwn-btn {
    transition: top 0.5s;
}

.icon-dwn-btn {
    color: var(--bs-secondary);
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-dwn-btn svg {
    width: 24px;
    height: 24px;
}

.button-dwn:hover {
    background: var(--bs-primary);
}

.button-dwn:hover .text-dwn-btn {
    top: -100%;
}

.button-dwn:hover .icon-dwn-btn {
    top: 0;
}

.button-dwn:hover:before,
.button-dwn:hover:after {
    opacity: 1;
    visibility: visible;
}

.button-dwn:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button-dwn:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/* CONTACT BTN */
.contact-btn {
    font-family: inherit;
    background: var(--bs-primary);
    color: var(--bs-secondary);
    padding: 0.3em 0.8em;
    padding-left: 0.7em;
    display: flex;
    align-items: center;
    border: 1px solid var(--bs-primary);
    border-radius: 0.45em;
    overflow: hidden;
    transition: all 0.2s;
    height: 35px;
}

.contact-btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.contact-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.contact-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.contact-btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.contact-btn:hover span {
    transform: translateX(5em);
}

.contact-btn:active {
    transform: scale(0.95);
}


@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}