/* Regular button */
.btn-scale:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(0, 0, 0), 0 4px 8px rgb(0, 0, 0);
}

/* SOCIALS */



.social-btn {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.556);
    margin: 5px;
    transition: 0.3s;
}

.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
}

.social-btn:hover {
    width: 150px;
    border-radius: 5px;
}

.social-btn:hover span {
    padding: 2px;
    width: 90px;
}


/* Show timeline */
.show-timeline {
    text-decoration: none;
    position: relative;
    border: none;
    font-weight: 600;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, var(--bs-success), var(--bs-info), var(--bs-warning), var(--bs-success));
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
}

.show-timeline:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.show-timeline:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, var(--bs-success), var(--bs-info), var(--bs-warning), var(--bs-success));
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

.show-timeline:hover::before {
    filter: blur(20px);
}

.show-timeline:active {
    background: linear-gradient(32deg, var(--bs-success), var(--bs-info), var(--bs-warning), var(--bs-success));
}


/* Mail and download button*/
.cta {
    border: none;
    width: 10rem;
    border-radius: 25px;
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 9px 4px;
    transition: all 0.2s ease;
    background: none;

}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    display: block;
    border-radius: 40px;
    background: var(--bs-primary);
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    z-index: -1;
}

.cta span {
    position: relative;
    letter-spacing: 0.05em;
    color: var(--bs-primary);
    transition: all 0.3s ease-in-out;
    margin-right: .5rem;
}

.cta .mail {
    margin-right: 1rem;
    color: var(--bs-secondary);
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.cta .download {
    margin: 7px 5px;
    margin-right: 1.2rem;
    color: var(--bs-secondary);
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.cta:hover:before {
    width: 100%;
    border: none;
    background: var(--bs-primary);
}

.cta:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.cta:hover .mail {
    color: var(--bs-secondary);
    transform: translateX(3.5rem) rotate(45deg) scale(1.1);
}

.cta:hover .download {
    color: var(--bs-secondary);
    transform: translateX(3.5rem) scale(1.1);
}

.cta:hover span {
    transform: translateX(15em);
}

.cta:active {
    transform: scale(0.95);
}


@keyframes fly-1 {
    from {
        transform: translateY(0.15em);
    }

    to {
        transform: translateY(-0.15em);
    }
}